In [1]:
import pandas as pd
import numpy as np

from datetime import timedelta
import random

In [2]:
data = pd.read_csv('/kaggle/input/aws-saas-sales/SaaS-Sales.csv')
data

,Row ID,Order ID,Order Date,Date Key,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit
0,1,EMEA-2022-152156,11/9/2022,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,16GRM07R1K,261.9600,2,0.00,41.9136
1,2,EMEA-2022-152156,11/9/2022,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,QLIW57KZUV,731.9400,3,0.00,219.5820
2,3,AMER-2022-138688,6/13/2022,20220613,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,JI6BVL70HQ,14.6200,2,0.00,6.8714
3,4,EMEA-2021-108966,10/11/2021,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,DE9GJKGD44,957.5775,5,0.45,-383.0310
4,5,EMEA-2021-108966,10/11/2021,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,OIF7NY23WD,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,EMEA-2020-110422,1/22/2020,20200122,Dan Allan,Germany,Hamburg,EMEA,EU-WEST,Johnson & Johnson,1055,Healthcare,SMB,SaaS Connector Pack,ETHXMB5TMD,25.2480,3,0.20,4.1028
9990,9991,AMER-2023-121258,2/27/2023,20230227,Anthony Sanderson,United States,Milwaukee,AMER,NAMER,American Express,1005,Finance,SMB,SaaS Connector Pack,LYHOKTRY7L,91.9600,2,0.00,15.6332
9991,9992,AMER-2023-121258,2/27/2023,20230227,Anthony Sanderson,United States,Milwaukee,AMER,NAMER,American Express,1005,Finance,SMB,Site Analytics,I5SVMI6M88,258.5760,2,0.20,19.3932
9992,9993,AMER-2023-121258,2/27/2023,20230227,Anthony Sanderson,United States,Milwaukee,AMER,NAMER,American Express,1005,Finance,SMB,Support,JHLW4P6LQ2,29.6000,4,0.00,13.3200
9993,9994,AMER-2023-119914,5/5/2023,20230505,Jasmine Springer,United States,Dallas,AMER,NAMER,Comcast,1022,Communications,SMB,OneView,3NTBV9B3PS,243.1600,2,0.00,72.9480

**DATASET OVERVIEW**

In [3]:
print('Shape:', data.shape)
print()
data.info()
print()
data.describe(include='all')

Shape: (9994, 19)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        9994 non-null   int64
 1   Order ID      9994 non-null   object
 2   Order Date    9994 non-null   object
 3   Date Key      9994 non-null   int64
 4   Contact Name  9994 non-null   object
 5   Country       9994 non-null   object
 6   City          9994 non-null   object
 7   Region        9994 non-null   object
 8   Subregion     9994 non-null   object
 9   Customer      9994 non-null   object
 10  Customer ID   9994 non-null   int64
 11  Industry      9994 non-null   object
 12  Segment       9994 non-null   object
 13  Product       9994 non-null   object
 14  License       9994 non-null   object
 15  Sales         9994 non-null   float64
 16  Quantity      9994 non-null   int64
 17  Discount      9994 non-null   float64
 18  Profit        9994 non-null   float64
dtypes: float64(3), int64(4), object(12)
memory usage: 1.4+ MB

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Row ID,Order ID,Order Date,Date Key,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9.994000e+03,9994,9994,9994,9994,9994,9994,9994.000000,9994,9994,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000
unique,NaN,5009,1237,NaN,793,48,262,3,12,99,NaN,10,3,14,9994,NaN,NaN,NaN,NaN
top,NaN,EMEA-2023-100111,9/6/2022,NaN,Leonard Kelly,United States,London,EMEA,NAMER,Allianz,NaN,Finance,SMB,ContactMatcher,16GRM07R1K,NaN,NaN,NaN,NaN
freq,NaN,14,38,NaN,37,2001,922,4219,2507,192,NaN,2127,5191,1842,1,NaN,NaN,NaN,NaN
mean,4997.500000,NaN,NaN,2.021803e+07,NaN,NaN,NaN,NaN,NaN,NaN,1049.771963,NaN,NaN,NaN,NaN,229.858001,3.789574,0.156203,28.656896
std,2885.163629,NaN,NaN,1.123898e+04,NaN,NaN,NaN,NaN,NaN,NaN,29.719388,NaN,NaN,NaN,NaN,623.245101,2.225110,0.206452,234.260108
min,1.000000,NaN,NaN,2.020010e+07,NaN,NaN,NaN,NaN,NaN,NaN,1001.000000,NaN,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,NaN,NaN,2.021052e+07,NaN,NaN,NaN,NaN,NaN,NaN,1024.000000,NaN,NaN,NaN,NaN,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,NaN,NaN,2.022063e+07,NaN,NaN,NaN,NaN,NaN,NaN,1049.000000,NaN,NaN,NaN,NaN,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,NaN,NaN,2.023052e+07,NaN,NaN,NaN,NaN,NaN,NaN,1076.000000,NaN,NaN,NaN,NaN,209.940000,5.000000,0.200000,29.364000
max,9994.000000,NaN,NaN,2.023123e+07,NaN,NaN,NaN,NaN,NaN,NaN,1101.000000,NaN,NaN,NaN,NaN,22638.480000,14.000000,0.800000,8399.976000

**Renaming Columns**

In [4]:
data = data.rename({'Row ID' : 'Row_ID', 'Order ID' : 'Order_ID', 'Order Date' : 'Order_Date', 'Customer ID' : 'Customer_ID'}, axis = 1)

**MISSING VALUES**

In [5]:
data.isnull().sum()

Row_ID          0
Order_ID        0
Order_Date      0
Date Key        0
Contact Name    0
Country         0
City            0
Region          0
Subregion       0
Customer        0
Customer_ID     0
Industry        0
Segment         0
Product         0
License         0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [6]:
data.dtypes

Row_ID            int64
Order_ID         object
Order_Date       object
Date Key          int64
Contact Name     object
Country          object
City             object
Region           object
Subregion        object
Customer         object
Customer_ID       int64
Industry         object
Segment          object
Product          object
License          object
Sales           float64
Quantity          int64
Discount        float64
Profit          float64
dtype: object

In [7]:
data['Order_Date'] = pd.to_datetime(data['Order_Date'])

In [8]:
data.head(10)

,Row_ID,Order_ID,Order_Date,Date Key,Contact Name,Country,City,Region,Subregion,Customer,Customer_ID,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit
0,1,EMEA-2022-152156,2022-11-09,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,16GRM07R1K,261.9600,2,0.00,41.9136
1,2,EMEA-2022-152156,2022-11-09,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,QLIW57KZUV,731.9400,3,0.00,219.5820
2,3,AMER-2022-138688,2022-06-13,20220613,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,JI6BVL70HQ,14.6200,2,0.00,6.8714
3,4,EMEA-2021-108966,2021-10-11,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,DE9GJKGD44,957.5775,5,0.45,-383.0310
4,5,EMEA-2021-108966,2021-10-11,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,OIF7NY23WD,22.3680,2,0.20,2.5164
5,6,AMER-2020-115812,2020-06-09,20200609,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,SaaS Connector Pack,8RM88WFOAE,48.8600,7,0.00,14.1694
6,7,AMER-2020-115812,2020-06-09,20200609,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ChatBot Plugin,4SYTVM0746,7.2800,4,0.00,1.9656
7,8,AMER-2020-115812,2020-06-09,20200609,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,Site Analytics,07842ES7DY,907.1520,6,0.20,90.7152
8,9,AMER-2020-115812,2020-06-09,20200609,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,ContactMatcher,XPBOBXWXA3,18.5040,3,0.20,5.7825
9,10,AMER-2020-115812,2020-06-09,20200609,Thomas Hodges,United States,New York City,AMER,NAMER,BNP Paribas,1065,Finance,SMB,OneView,71J8P9Z1P0,114.9000,5,0.00,34.4700

In [9]:
len(data)

9994

**DUPLICATES**

In [10]:
data.duplicated().sum()

0

**Checking duplicates in Customer ID and Order ID**

In [11]:
data[['Order_ID', 'Row_ID', 'License']].duplicated().sum()

0

In [12]:
data.nunique().sort_values()

Region             3
Segment            3
Industry          10
Subregion         12
Discount          12
Product           14
Quantity          14
Country           48
Customer          99
Customer_ID       99
City             262
Contact Name     793
Order_Date      1237
Date Key        1237
Order_ID        5009
Sales           5825
Profit          7287
License         9994
Row_ID          9994
dtype: int64

In [13]:
categorical_cols = ['Segment','Industry','Product','Region','Country']

for col in categorical_cols:
    print("Column:", col)
    print(data[col].value_counts().head(10))
    print()

Column: Segment
Segment
SMB           5191
Strategic     3020
Enterprise    1783
Name: count, dtype: int64

Column: Industry
Industry
Finance              2127
Energy               1316
Tech                 1236
Manufacturing        1222
Healthcare           1049
Consumer Products    1021
Retail                972
Communications        593
Transportation        351
Misc                  107
Name: count, dtype: int64

Column: Product
Product
ContactMatcher                1842
Support                       1560
FinanceHub                     981
SaaS Connector Pack            957
Site Analytics                 889
Marketing Suite - Gold         846
ChatBot Plugin                 796
Data Smasher                   775
OneView                        466
SaaS Connector Pack - Gold     254
Name: count, dtype: int64

Column: Region
Region
EMEA    4219
AMER    3665
APJ     2110
Name: count, dtype: int64

Column: Country
Country
United States     2001
United Kingdom    1141
Japan              985
France             587
Canada             506
Australia          492
Mexico             469
Germany            383
Brazil             255
Sweden             249
Name: count, dtype: int64

In [14]:
industry_counts = data['Industry'].value_counts()
data['Industry'] = data['Industry'].apply(lambda x: x if industry_counts[x] > 108 else 'Other')

In [15]:
data['Industry'].value_counts()

Industry
Finance              2127
Energy               1316
Tech                 1236
Manufacturing        1222
Healthcare           1049
Consumer Products    1021
Retail                972
Communications        593
Transportation        351
Other                 107
Name: count, dtype: int64

In [16]:
data['License'].duplicated().sum()

0

In [17]:
data.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Date Key', 'Contact Name',
       'Country', 'City', 'Region', 'Subregion', 'Customer', 'Customer_ID',
       'Industry', 'Segment', 'Product', 'License', 'Sales', 'Quantity',
       'Discount', 'Profit'],
      dtype='object')

In [18]:
d1 = data[data.duplicated(subset = ['Order_ID', 'Product'])][['Order_ID', 'Product', 'Sales', 'Quantity', 'Discount', 'Profit']]
d1.duplicated().sum()

0

In [19]:
len(data)

9994

In [20]:
fact_sales = data[['Order_ID','Customer_ID','Product','Sales','Quantity','Discount','Profit','Order_Date']]
fact_sales.to_csv("fact_sales.csv", index=False)

In [21]:
dim_customer = data[['Customer_ID', 'Customer', 'Segment', 'Industry', 'Region', 'Subregion', 'Country', 'City']] \
               .drop_duplicates(subset=['Customer_ID']) \
               .reset_index(drop=True)
dim_customer['Customer'] = dim_customer['Customer'].str.strip().str.title()
dim_customer['Segment'] = dim_customer['Segment'].str.strip().str.title()

dim_customer.to_csv("dim_customer.csv", index=False)

In [22]:
len(dim_customer)

99

In [23]:
dim_product = data[['Product']].drop_duplicates().reset_index(drop=True)
dim_product['Product_ID'] = dim_product.index + 1
dim_product.to_csv("dim_product.csv", index=False)

In [24]:
len(dim_product)

14

In [25]:
fact_sales

,Order_ID,Customer_ID,Product,Sales,Quantity,Discount,Profit,Order_Date
0,EMEA-2022-152156,1017,Marketing Suite,261.9600,2,0.00,41.9136,2022-11-09
1,EMEA-2022-152156,1017,FinanceHub,731.9400,3,0.00,219.5820,2022-11-09
2,AMER-2022-138688,1056,FinanceHub,14.6200,2,0.00,6.8714,2022-06-13
3,EMEA-2021-108966,1031,ContactMatcher,957.5775,5,0.45,-383.0310,2021-10-11
4,EMEA-2021-108966,1031,Marketing Suite - Gold,22.3680,2,0.20,2.5164,2021-10-11
...,...,...,...,...,...,...,...,...
9989,EMEA-2020-110422,1055,SaaS Connector Pack,25.2480,3,0.20,4.1028,2020-01-22
9990,AMER-2023-121258,1005,SaaS Connector Pack,91.9600,2,0.00,15.6332,2023-02-27
9991,AMER-2023-121258,1005,Site Analytics,258.5760,2,0.20,19.3932,2023-02-27
9992,AMER-2023-121258,1005,Support,29.6000,4,0.00,13.3200,2023-02-27
9993,AMER-2023-119914,1022,OneView,243.1600,2,0.00,72.9480,2023-05-05

In [26]:
fact_sales = fact_sales.merge(dim_product[['Product_ID','Product']], on='Product', how='left')
fact_sales.drop(columns=['Product'], inplace=True)
fact_sales.to_csv("fact_sales.csv", index=False)

In [27]:
fact_sales

,Order_ID,Customer_ID,Sales,Quantity,Discount,Profit,Order_Date,Product_ID
0,EMEA-2022-152156,1017,261.9600,2,0.00,41.9136,2022-11-09,1
1,EMEA-2022-152156,1017,731.9400,3,0.00,219.5820,2022-11-09,2
2,AMER-2022-138688,1056,14.6200,2,0.00,6.8714,2022-06-13,2
3,EMEA-2021-108966,1031,957.5775,5,0.45,-383.0310,2021-10-11,3
4,EMEA-2021-108966,1031,22.3680,2,0.20,2.5164,2021-10-11,4
...,...,...,...,...,...,...,...,...
9989,EMEA-2020-110422,1055,25.2480,3,0.20,4.1028,2020-01-22,5
9990,AMER-2023-121258,1005,91.9600,2,0.00,15.6332,2023-02-27,5
9991,AMER-2023-121258,1005,258.5760,2,0.20,19.3932,2023-02-27,7
9992,AMER-2023-121258,1005,29.6000,4,0.00,13.3200,2023-02-27,9
9993,AMER-2023-119914,1022,243.1600,2,0.00,72.9480,2023-05-05,8

In [28]:
event_types = ['login', 'dashboard_viewed', 'feature_used', 'report_downloaded']

In [29]:
events_list = []

for _, row in fact_sales.iterrows():
    num_events = random.randint(3,10)
    order_date = pd.to_datetime(row['Order_Date'])
    events_list.extend([{
        'Customer_ID': row['Customer_ID'],
        'Order_ID': row['Order_ID'],
        'Product_ID': row['Product_ID'],
        'Event_Type': random.choice(event_types),
        'Event_Timestamp': order_date + timedelta(
            hours=random.randint(0,23),
            minutes=random.randint(0,59),
            seconds=random.randint(0,59)
        )
    } for _ in range(num_events)])

fact_usage = pd.DataFrame(events_list)

In [30]:
fact_usage.head(10)

,Customer_ID,Order_ID,Product_ID,Event_Type,Event_Timestamp
0,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 20:06:24
1,1017,EMEA-2022-152156,1,feature_used,2022-11-09 23:18:33
2,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 21:32:00
3,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 22:49:07
4,1017,EMEA-2022-152156,1,login,2022-11-09 14:07:42
5,1017,EMEA-2022-152156,1,report_downloaded,2022-11-09 21:43:33
6,1017,EMEA-2022-152156,1,login,2022-11-09 19:26:44
7,1017,EMEA-2022-152156,2,dashboard_viewed,2022-11-09 08:19:27
8,1017,EMEA-2022-152156,2,report_downloaded,2022-11-09 16:51:22
9,1017,EMEA-2022-152156,2,login,2022-11-09 18:38:40

In [31]:
fact_usage.to_csv("fact_usage.csv", index=False)
print("Synthetic usage events generated:", len(fact_usage))

Synthetic usage events generated: 64507

In [32]:
fact_sales.columns

Index(['Order_ID', 'Customer_ID', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Order_Date', 'Product_ID'],
      dtype='object')

In [33]:
dim_customer.columns

Index(['Customer_ID', 'Customer', 'Segment', 'Industry', 'Region', 'Subregion',
       'Country', 'City'],
      dtype='object')

In [34]:
dim_product.columns

Index(['Product', 'Product_ID'], dtype='object')

In [35]:
fact_usage.columns

Index(['Customer_ID', 'Order_ID', 'Product_ID', 'Event_Type',
       'Event_Timestamp'],
      dtype='object')

In [36]:
fact_sales

,Order_ID,Customer_ID,Sales,Quantity,Discount,Profit,Order_Date,Product_ID
0,EMEA-2022-152156,1017,261.9600,2,0.00,41.9136,2022-11-09,1
1,EMEA-2022-152156,1017,731.9400,3,0.00,219.5820,2022-11-09,2
2,AMER-2022-138688,1056,14.6200,2,0.00,6.8714,2022-06-13,2
3,EMEA-2021-108966,1031,957.5775,5,0.45,-383.0310,2021-10-11,3
4,EMEA-2021-108966,1031,22.3680,2,0.20,2.5164,2021-10-11,4
...,...,...,...,...,...,...,...,...
9989,EMEA-2020-110422,1055,25.2480,3,0.20,4.1028,2020-01-22,5
9990,AMER-2023-121258,1005,91.9600,2,0.00,15.6332,2023-02-27,5
9991,AMER-2023-121258,1005,258.5760,2,0.20,19.3932,2023-02-27,7
9992,AMER-2023-121258,1005,29.6000,4,0.00,13.3200,2023-02-27,9
9993,AMER-2023-119914,1022,243.1600,2,0.00,72.9480,2023-05-05,8

**Deriving YearMonth From Order_Date**

In [37]:
fact_sales['YearMonth'] = fact_sales['Order_Date'].dt.to_period('M')

In [38]:
fact_sales['Year'] = fact_sales['Order_Date'].dt.to_period('Y')

In [39]:
fact_sales['Year']

0       2022
1       2022
2       2022
3       2021
4       2021
        ...
9989    2020
9990    2023
9991    2023
9992    2023
9993    2023
Name: Year, Length: 9994, dtype: period[Y-DEC]

In [40]:
fact_sales['YearMonth']

0       2022-11
1       2022-11
2       2022-06
3       2021-10
4       2021-10
         ...
9989    2020-01
9990    2023-02
9991    2023-02
9992    2023-02
9993    2023-05
Name: YearMonth, Length: 9994, dtype: period[M]

# REVENUE PERFORMANCE OVER TIME

**Identify Revenue Trends**

**Revenue per Month**

In [44]:
fact_sales.groupby('YearMonth')['Sales'].sum().round(2).reset_index().sort_values(by = 'YearMonth', ascending=True)

   YearMonth      Sales
0    2020-01   13946.23
1    2020-02    4810.56
2    2020-03   55691.01
3    2020-04   28295.34
4    2020-05   23648.29
5    2020-06   34595.13
6    2020-07   33946.39
7    2020-08   27909.47
8    2020-09   81777.35
9    2020-10   31453.39
10   2020-11   78628.72
11   2020-12   69545.62
12   2021-01   18174.08
13   2021-02   11951.41
14   2021-03   38726.25
15   2021-04   34195.21
16   2021-05   30131.69
17   2021-06   24797.29
18   2021-07   28765.32
19   2021-08   36898.33
20   2021-09   64595.92
21   2021-10   31404.92
22   2021-11   75972.56
23   2021-12   74919.52
24   2022-01   18542.49
25   2022-02   22867.71
26   2022-03   51186.22
27   2022-04   39248.59
28   2022-05   56691.08
29   2022-06   39430.44
30   2022-07   38440.75
31   2022-08   33265.56
32   2022-09   72908.11
33   2022-10   56463.13
34   2022-11   82192.32
35   2022-12   97237.42
36   2023-01   44703.14
37   2023-02   20283.51
38   2023-03   53908.96
39   2023-04   40112.42
40   2023-05   45651.24
41   2023-06   48259.75
42   2023-07   48428.36
43   2023-08   61516.09
44   2023-09   90488.72
45   2023-10   77793.76
46   2023-11  112326.47
47   2023-12   90474.60

**Revenue per Year**

In [45]:
fact_sales.groupby('Year')['Sales'].sum().reset_index().sort_values(by = 'Year', ascending=True)

   Year        Sales
0  2020  484247.4981
1  2021  470532.5090
2  2022  608473.8300
3  2023  733947.0232

**Profit Per Month**

In [46]:
fact_sales.groupby('YearMonth')['Profit'].sum().round(2).reset_index().sort_values(by = 'YearMonth', ascending=True)

   YearMonth    Profit
0    2020-01   2446.77
1    2020-02    865.73
2    2020-03    498.73
3    2020-04   3488.84
4    2020-05   2738.71
5    2020-06   4976.52
6    2020-07   -841.48
7    2020-08   5318.10
8    2020-09   8328.10
9    2020-10   3448.26
10   2020-11   9292.13
11   2020-12   8983.57
12   2021-01  -3281.01
13   2021-02   2813.85
14   2021-03   9732.10
15   2021-04   4187.50
16   2021-05   4667.87
17   2021-06   3335.56
18   2021-07   3288.65
19   2021-08   5355.81
20   2021-09   8209.16
21   2021-10   2817.37
22   2021-11  12474.79
23   2021-12   8016.97
24   2022-01   2824.82
25   2022-02   4996.25
26   2022-03   3625.27
27   2022-04   2957.84
28   2022-05   8627.48
29   2022-06   4499.58
30   2022-07   4464.66
31   2022-08   2328.35
32   2022-09   9360.49
33   2022-10  15763.38
34   2022-11   4376.07
35   2022-12  17902.73
36   2023-01   7208.68
37   2023-02   1605.65
38   2023-03  12957.90
39   2023-04   2803.63
40   2023-05   6274.46
41   2023-06   8087.67
42   2023-07   6623.56
43   2023-08   8894.45
44   2023-09  11395.44
45   2023-10   9440.66
46   2023-11   9682.55
47   2023-12   8532.87

**Profit per Year**

In [47]:
fact_sales.groupby('Year')['Profit'].sum().reset_index().sort_values(by = 'Year', ascending=True)

   Year      Profit
0  2020  49543.9741
1  2021  61618.6037
2  2022  81726.9308
3  2023  93507.5131

**Revenue and Profit per Month**

In [48]:
monthly_perf = (
    fact_sales.groupby('YearMonth')
      .agg({'Sales': 'sum', 'Profit': 'sum'})
      .reset_index()
      .sort_values('YearMonth')
)
monthly_perf

   YearMonth        Sales      Profit
0    2020-01   13946.2290   2446.7711
1    2020-02    4810.5580    865.7280
2    2020-03   55691.0090    498.7299
3    2020-04   28295.3450   3488.8352
4    2020-05   23648.2870   2738.7096
5    2020-06   34595.1276   4976.5244
6    2020-07   33946.3930   -841.4826
7    2020-08   27909.4685   5318.1050
8    2020-09   81777.3508   8328.0994
9    2020-10   31453.3930   3448.2573
10   2020-11   78628.7167   9292.1269
11   2020-12   69545.6205   8983.5699
12   2021-01   18174.0756  -3281.0070
13   2021-02   11951.4110   2813.8508
14   2021-03   38726.2520   9732.0978
15   2021-04   34195.2085   4187.4962
16   2021-05   30131.6865   4667.8690
17   2021-06   24797.2920   3335.5572
18   2021-07   28765.3250   3288.6483
19   2021-08   36898.3322   5355.8084
20   2021-09   64595.9180   8209.1627
21   2021-10   31404.9235   2817.3660
22   2021-11   75972.5635  12474.7884
23   2021-12   74919.5212   8016.9659
24   2022-01   18542.4910   2824.8233
25   2022-02   22867.7110   4996.2467
26   2022-03   51186.2170   3625.2715
27   2022-04   39248.5930   2957.8446
28   2022-05   56691.0770   8627.4764
29   2022-06   39430.4430   4499.5845
30   2022-07   38440.7550   4464.6602
31   2022-08   33265.5643   2328.3534
32   2022-09   72908.1089   9360.4910
33   2022-10   56463.1300  15763.3797
34   2022-11   82192.3228   4376.0694
35   2022-12   97237.4170  17902.7301
36   2023-01   44703.1420   7208.6826
37   2023-02   20283.5134   1605.6478
38   2023-03   53908.9620  12957.8999
39   2023-04   40112.4209   2803.6308
40   2023-05   45651.2362   6274.4578
41   2023-06   48259.7487   8087.6684
42   2023-07   48428.3650   6623.5571
43   2023-08   61516.0860   8894.4486
44   2023-09   90488.7220  11395.4394
45   2023-10   77793.7552   9440.6608
46   2023-11  112326.4710   9682.5519
47   2023-12   90474.6008   8532.8680

**Month over Month Growth**

In [49]:
monthly_perf['Sales_MoM_%'] = monthly_perf['Sales'].pct_change() * 100
monthly_perf['Profit_MoM_%'] = monthly_perf['Profit'].pct_change() * 100
monthly_perf['Sales_MoM_%']

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

0             NaN
1      -65.506389
2     1057.682934
3      -49.192257
4      -16.423401
5       46.290205
6       -1.875220
7      -17.783699
8      193.009345
9      -61.537770
10     149.984848
11     -11.551882
12     -73.867405
13     -34.239236
14     224.030794
15     -11.700186
16     -11.883308
17     -17.703604
18      16.001880
19      28.273650
20      75.064601
21     -51.382495
22     141.912907
23      -1.386082
24     -75.250121
25      23.325992
26     123.836207
27     -23.321950
28      44.441043
29     -30.446827
30      -2.509959
31     -13.462771
32     119.169915
33     -22.555761
34      45.568131
35      18.304744
36     -54.026810
37     -54.626202
38     165.777240
39     -25.592296
40      13.808230
41       5.714002
42       0.349393
43      27.024908
44      47.097658
45     -14.029336
46      44.390087
47     -19.453892
Name: Sales_MoM_%, dtype: float64

**Impact of Discount**

In [50]:
bins = [0,0.1,0.2,0.3,0.5,1]
labels = ['0-10%', '10-20%', '20-30%', '30-50%', '50%+']

fact_sales['Discount_Bucket'] = pd.cut(fact_sales['Discount'], bins = bins, labels = labels)

discount_analysis = fact_sales.groupby('Discount_Bucket').agg({
    'Sales' : 'sum',
    'Profit' : 'sum',
    'Order_ID' : 'count',
    'Quantity' : 'sum'
}).round(2).reset_index()

/tmp/ipykernel_47/192216998.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  discount_analysis = fact_sales.groupby('Discount_Bucket').agg({

In [51]:
fact_sales['Discount'].agg(['min','max'])

min    0.0
max    0.8
Name: Discount, dtype: float64

In [52]:
fact_sales[fact_sales['Discount'] < 0.1]['Discount'].value_counts().sort_index()

Discount
0.0    4798
Name: count, dtype: int64

In [53]:
fact_sales[(fact_sales['Discount'] >= 0) & (fact_sales['Discount'] <= 0.1)].shape

(4892, 11)

In [54]:
discount_analysis

  Discount_Bucket      Sales    Profit  Order_ID  Quantity
0           0-10%   54369.35   9029.18        94       373
1          10-20%  792152.89  91756.30      3709     13858
2          20-30%  103226.66 -10369.28       227       849
3          30-50%  195314.76 -48447.73       310      1177
4            50%+   64228.74 -76559.05       856      3349

In [55]:
discount_analysis['Profit_Margin_%'] = (discount_analysis['Profit'] / discount_analysis['Sales'] * 100).round(2)

In [56]:
discount_analysis['Profit_Margin_%']

0     16.61
1     11.58
2    -10.05
3    -24.80
4   -119.20
Name: Profit_Margin_%, dtype: float64

In [57]:
fact_sales.head()

,Order_ID,Customer_ID,Sales,Quantity,Discount,Profit,Order_Date,Product_ID,YearMonth,Year,Discount_Bucket
0,EMEA-2022-152156,1017,261.9600,2,0.00,41.9136,2022-11-09,1,2022-11,2022,NaN
1,EMEA-2022-152156,1017,731.9400,3,0.00,219.5820,2022-11-09,2,2022-11,2022,NaN
2,AMER-2022-138688,1056,14.6200,2,0.00,6.8714,2022-06-13,2,2022-06,2022,NaN
3,EMEA-2021-108966,1031,957.5775,5,0.45,-383.0310,2021-10-11,3,2021-10,2021,30-50%
4,EMEA-2021-108966,1031,22.3680,2,0.20,2.5164,2021-10-11,4,2021-10,2021,10-20%

In [58]:
dim_customer.head()

,Customer_ID,Customer,Segment,Industry,Region,Subregion,Country,City
0,1017,Chevron,Smb,Energy,EMEA,UKIR,Ireland,Dublin
1,1056,Phillips 66,Strategic,Energy,AMER,NAMER,United States,New York City
2,1031,Royal Dutch Shell,Smb,Energy,EMEA,EU-WEST,Germany,Stuttgart
3,1065,Bnp Paribas,Smb,Finance,AMER,NAMER,United States,New York City
4,1062,Engie,Smb,Energy,EMEA,NOR,Sweden,Stockholm

# IDENTIFYING HIGH VALUE CUSTOMER SEGMENTS

**REVENUE BY SEGMENTS, INDUSTRY, REGION**

In [59]:
fsm = fact_sales.merge(dim_customer[['Customer_ID', 'Segment', 'Industry', 'Region']], on = 'Customer_ID', how = 'left').reset_index()
fsm

,index,Order_ID,Customer_ID,Sales,Quantity,Discount,Profit,Order_Date,Product_ID,YearMonth,Year,Discount_Bucket,Segment,Industry,Region
0,0,EMEA-2022-152156,1017,261.9600,2,0.00,41.9136,2022-11-09,1,2022-11,2022,NaN,Smb,Energy,EMEA
1,1,EMEA-2022-152156,1017,731.9400,3,0.00,219.5820,2022-11-09,2,2022-11,2022,NaN,Smb,Energy,EMEA
2,2,AMER-2022-138688,1056,14.6200,2,0.00,6.8714,2022-06-13,2,2022-06,2022,NaN,Strategic,Energy,AMER
3,3,EMEA-2021-108966,1031,957.5775,5,0.45,-383.0310,2021-10-11,3,2021-10,2021,30-50%,Smb,Energy,EMEA
4,4,EMEA-2021-108966,1031,22.3680,2,0.20,2.5164,2021-10-11,4,2021-10,2021,10-20%,Smb,Energy,EMEA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9989,EMEA-2020-110422,1055,25.2480,3,0.20,4.1028,2020-01-22,5,2020-01,2020,10-20%,Enterprise,Healthcare,AMER
9990,9990,AMER-2023-121258,1005,91.9600,2,0.00,15.6332,2023-02-27,5,2023-02,2023,NaN,Smb,Finance,AMER
9991,9991,AMER-2023-121258,1005,258.5760,2,0.20,19.3932,2023-02-27,7,2023-02,2023,10-20%,Smb,Finance,AMER
9992,9992,AMER-2023-121258,1005,29.6000,4,0.00,13.3200,2023-02-27,9,2023-02,2023,NaN,Smb,Finance,AMER
9993,9993,AMER-2023-119914,1022,243.1600,2,0.00,72.9480,2023-05-05,8,2023-05,2023,NaN,Smb,Communications,EMEA

**Revenue by Segment**

In [60]:
fsm.groupby(['Segment'])['Sales'].sum().round(2).reset_index().sort_values(by='Sales', ascending=False)

      Segment       Sales
1         Smb  1416379.73
2   Strategic   561415.97
0  Enterprise   319405.17

**Revenue by Industry**

In [61]:
fsm.groupby(['Industry'])['Sales'].sum().round(2).reset_index().sort_values(by='Sales', ascending=False)

            Industry      Sales
3            Finance  474150.48
2             Energy  304644.14
5      Manufacturing  295192.38
4         Healthcare  273183.29
8               Tech  263169.03
1  Consumer Products  224044.14
7             Retail  223072.07
0     Communications  120962.24
9     Transportation   90191.33
6              Other   28591.76

**Revenue by Region**

In [62]:
fsm.groupby(['Region'])['Sales'].sum().round(2).reset_index().sort_values(by='Sales', ascending=False)

  Region      Sales
0   AMER  987940.26
2   EMEA  951857.13
1    APJ  357403.47

In [63]:
fstop = fact_sales.merge(dim_customer[['Customer_ID', 'Customer']], on = 'Customer_ID', how = 'left')
fstop

,Order_ID,Customer_ID,Sales,Quantity,Discount,Profit,Order_Date,Product_ID,YearMonth,Year,Discount_Bucket,Customer
0,EMEA-2022-152156,1017,261.9600,2,0.00,41.9136,2022-11-09,1,2022-11,2022,NaN,Chevron
1,EMEA-2022-152156,1017,731.9400,3,0.00,219.5820,2022-11-09,2,2022-11,2022,NaN,Chevron
2,AMER-2022-138688,1056,14.6200,2,0.00,6.8714,2022-06-13,2,2022-06,2022,NaN,Phillips 66
3,EMEA-2021-108966,1031,957.5775,5,0.45,-383.0310,2021-10-11,3,2021-10,2021,30-50%,Royal Dutch Shell
4,EMEA-2021-108966,1031,22.3680,2,0.20,2.5164,2021-10-11,4,2021-10,2021,10-20%,Royal Dutch Shell
...,...,...,...,...,...,...,...,...,...,...,...,...
9989,EMEA-2020-110422,1055,25.2480,3,0.20,4.1028,2020-01-22,5,2020-01,2020,10-20%,Johnson & Johnson
9990,AMER-2023-121258,1005,91.9600,2,0.00,15.6332,2023-02-27,5,2023-02,2023,NaN,American Express
9991,AMER-2023-121258,1005,258.5760,2,0.20,19.3932,2023-02-27,7,2023-02,2023,10-20%,American Express
9992,AMER-2023-121258,1005,29.6000,4,0.00,13.3200,2023-02-27,9,2023-02,2023,NaN,American Express
9993,AMER-2023-119914,1022,243.1600,2,0.00,72.9480,2023-05-05,8,2023-05,2023,NaN,Comcast

**TOP 10 Underperformers Customer Groups**

In [64]:
fstop.groupby('Customer').agg({'Sales' : 'sum', 'Profit' : 'sum', 'Order_ID' : 'count', 'Quantity' : 'count'}).round(2).reset_index().sort_values(by = ['Sales', 'Profit'])

                 Customer     Sales    Profit  Order_ID  Quantity
39                Gazprom   5402.90    -13.97        53        53
26              Citigroup   6132.52    474.33        22        22
78                Safeway   6633.14    472.46        39        39
15     Berkshire Hathaway   7100.93    812.73        39        39
86                  Tesco   8173.23   1689.71        48        48
..                    ...       ...       ...       ...       ...
92          Valero Energy  41220.42  10308.63       105       105
14  Bank Of America Corp.  41255.95   6449.86       132       132
3                 Allianz  42904.17   5531.88       192       192
38             Ford Motor  43893.04   4010.77       176       176
9                  Anthem  55719.21   5953.20       134       134

[99 rows x 5 columns]

# PRODUCT LEVEL CONTRIBUTION

**Top Revenue generating products**

In [65]:
fsp = fact_sales.merge(dim_product[['Product_ID', 'Product']], on = 'Product_ID', how = 'left')

In [66]:
fsp.groupby('Product')['Sales'].sum().round(2).sort_values(ascending = False).head()

Product
ContactMatcher            410378.26
FinanceHub                340935.42
Site Analytics            330007.05
Marketing Suite - Gold    223843.61
Big Ol Database           189238.63
Name: Sales, dtype: float64

In [67]:
products = fsp.groupby('Product').agg({'Profit' : 'sum', 'Discount' : 'mean'}).reset_index().sort_values(by = ['Profit', 'Discount'], ascending = False).rename(columns = {'Profit' : 'Total_Profit', 'Discount' : 'Avg_Discount'})
products

                       Product  Total_Profit  Avg_Discount
0                      Alchemy    55617.8249      0.161765
11              Site Analytics    44515.7306      0.154556
4                 Data Smasher    41936.6357      0.078452
13                     Support    32864.4698      0.075128
5                   FinanceHub    32136.4203      0.132518
7       Marketing Suite - Gold    21278.8264      0.074704
8                      OneView    18138.0054      0.166524
9          SaaS Connector Pack    13059.1436      0.138349
3               ContactMatcher    12496.2822      0.353067
10  SaaS Connector Pack - Gold     6964.1767      0.080315
2               ChatBot Plugin     6527.7870      0.074874
1              Big Ol Database     3384.7569      0.306087
12                     Storage      949.5182      0.082028
6              Marketing Suite    -3472.5560      0.211140

**NEGATIVE PROFIT**

In [68]:
products[products['Total_Profit'] < 0]

           Product  Total_Profit  Avg_Discount
6  Marketing Suite     -3472.556       0.21114

**BOTTOM 20% PROFIT**

In [69]:
threshold = products['Total_Profit'].quantile(0.20)
products[products['Total_Profit'] <= threshold]

            Product  Total_Profit  Avg_Discount
1   Big Ol Database     3384.7569      0.306087
12          Storage      949.5182      0.082028
6   Marketing Suite    -3472.5560      0.211140

**HIGH DISCOUNT PRODUCTS**

In [70]:
disc_threshold = products['Avg_Discount'].quantile(0.80)
products[products['Avg_Discount'] >= disc_threshold]

           Product  Total_Profit  Avg_Discount
3   ContactMatcher    12496.2822      0.353067
1  Big Ol Database     3384.7569      0.306087
6  Marketing Suite    -3472.5560      0.211140

# CUSTOMER-LEVEL REVENUE DISTRIBUTION

**Customer driven revenue**

In [74]:
fsc = fact_sales.merge(dim_customer[['Customer_ID', 'Customer']], on = 'Customer_ID', how = 'left')
fsc

,Order_ID,Customer_ID,Sales,Quantity,Discount,Profit,Order_Date,Product_ID,YearMonth,Year,Discount_Bucket,Customer
0,EMEA-2022-152156,1017,261.9600,2,0.00,41.9136,2022-11-09,1,2022-11,2022,NaN,Chevron
1,EMEA-2022-152156,1017,731.9400,3,0.00,219.5820,2022-11-09,2,2022-11,2022,NaN,Chevron
2,AMER-2022-138688,1056,14.6200,2,0.00,6.8714,2022-06-13,2,2022-06,2022,NaN,Phillips 66
3,EMEA-2021-108966,1031,957.5775,5,0.45,-383.0310,2021-10-11,3,2021-10,2021,30-50%,Royal Dutch Shell
4,EMEA-2021-108966,1031,22.3680,2,0.20,2.5164,2021-10-11,4,2021-10,2021,10-20%,Royal Dutch Shell
...,...,...,...,...,...,...,...,...,...,...,...,...
9989,EMEA-2020-110422,1055,25.2480,3,0.20,4.1028,2020-01-22,5,2020-01,2020,10-20%,Johnson & Johnson
9990,AMER-2023-121258,1005,91.9600,2,0.00,15.6332,2023-02-27,5,2023-02,2023,NaN,American Express
9991,AMER-2023-121258,1005,258.5760,2,0.20,19.3932,2023-02-27,7,2023-02,2023,10-20%,American Express
9992,AMER-2023-121258,1005,29.6000,4,0.00,13.3200,2023-02-27,9,2023-02,2023,NaN,American Express
9993,AMER-2023-119914,1022,243.1600,2,0.00,72.9480,2023-05-05,8,2023-05,2023,NaN,Comcast

**Revenue per Customer**

In [75]:
fsc.groupby('Customer')['Sales'].sum().reset_index().rename(columns = {'Sales' : 'Total_Revenue'}).sort_values(by='Total_Revenue', ascending=False)

                 Customer  Total_Revenue
9                  Anthem     55719.2100
38             Ford Motor     43893.0424
3                 Allianz     42904.1670
14  Bank Of America Corp.     41255.9471
92          Valero Energy     41220.4188
..                    ...            ...
86                  Tesco      8173.2260
15     Berkshire Hathaway      7100.9290
78                Safeway      6633.1370
26              Citigroup      6132.5210
39                Gazprom      5402.9020

[99 rows x 2 columns]

In [76]:
clr = fsc.groupby('Customer').agg({'Sales' : 'sum', 'Order_Date' : ['min', 'max', 'nunique']}).reset_index()
clr.columns = ['Customer', 'Lifetime_Revenue', 'First_Order', 'Last_Order', 'Active_Days']
clr.reset_index()

,index,Customer,Lifetime_Revenue,First_Order,Last_Order,Active_Days
0,0,Abbott Laboratories,12617.1140,2020-04-15,2023-12-19,31
1,1,Aetna,27278.5930,2020-03-31,2023-12-10,74
2,2,Airbus,29798.5930,2020-01-11,2023-12-04,56
3,3,Allianz,42904.1670,2020-03-17,2023-12-30,96
4,4,Allstate,39941.6400,2020-02-19,2023-12-30,60
...,...,...,...,...,...,...
94,94,Volkswagen,35200.4240,2020-02-07,2023-12-10,65
95,95,Walgreens,14420.6190,2020-02-12,2023-12-17,33
96,96,Walmart,21508.1790,2020-03-04,2023-12-11,45
97,97,Walt Disney,29483.0050,2020-04-02,2023-12-09,53
98,98,Wells Fargo,23180.5442,2020-01-12,2023-12-29,45

**New vs Returning Customers**

In [77]:
fs_customer = fact_sales.merge(dim_customer[['Customer_ID', 'Customer']], on = 'Customer_ID', how = 'left')

In [78]:
first_orders = fs_customer.groupby('Customer')['Order_Date'].min().reset_index()
first_orders.rename(columns={'Order_Date': 'FirstOrderDate'}, inplace=True)

In [79]:
fs_customer['YearMonth'] = fact_sales['Order_Date'].dt.to_period('M')

In [80]:
df = fs_customer.merge(first_orders, on='Customer', how='left')

In [81]:
df['CustomerType'] = df.apply(
    lambda x: 'New' if x['FirstOrderDate'].to_period('M') == x['YearMonth'] else 'Returning',
    axis=1
)

In [82]:
summary = df.groupby(['YearMonth', 'CustomerType']).agg(
    Customers=('Customer', 'nunique'),
    TotalSales=('Sales', 'sum')
).reset_index()

summary

   YearMonth CustomerType  Customers   TotalSales
0    2020-01          New         27   13946.2290
1    2020-02          New         18    3661.2420
2    2020-02    Returning          9    1149.3160
3    2020-03          New         26   15423.8110
4    2020-03    Returning         18   40267.1980
5    2020-04          New         11    7617.3620
6    2020-04    Returning         33   20677.9830
7    2020-05          New          6    1784.6740
8    2020-05    Returning         40   21863.6130
9    2020-06          New          5    2129.6600
10   2020-06    Returning         48   32465.4676
11   2020-07          New          2    8549.1120
12   2020-07    Returning         42   25397.2810
13   2020-08          New          3     497.5640
14   2020-08    Returning         46   27411.9045
15   2020-09          New          1      34.4700
16   2020-09    Returning         76   81742.8808
17   2020-10    Returning         57   31453.3930
18   2020-11    Returning         75   78628.7167
19   2020-12    Returning         75   69545.6205
20   2021-01    Returning         24   18174.0756
21   2021-02    Returning         30   11951.4110
22   2021-03    Returning         59   38726.2520
23   2021-04    Returning         45   34195.2085
24   2021-05    Returning         52   30131.6865
25   2021-06    Returning         50   24797.2920
26   2021-07    Returning         50   28765.3250
27   2021-08    Returning         47   36898.3322
28   2021-09    Returning         75   64595.9180
29   2021-10    Returning         53   31404.9235
30   2021-11    Returning         78   75972.5635
31   2021-12    Returning         81   74919.5212
32   2022-01    Returning         36   18542.4910
33   2022-02    Returning         36   22867.7110
34   2022-03    Returning         53   51186.2170
35   2022-04    Returning         54   39248.5930
36   2022-05    Returning         67   56691.0770
37   2022-06    Returning         59   39430.4430
38   2022-07    Returning         58   38440.7550
39   2022-08    Returning         61   33265.5643
40   2022-09    Returning         80   72908.1089
41   2022-10    Returning         60   56463.1300
42   2022-11    Returning         86   82192.3228
43   2022-12    Returning         80   97237.4170
44   2023-01    Returning         56   44703.1420
45   2023-02    Returning         40   20283.5134
46   2023-03    Returning         65   53908.9620
47   2023-04    Returning         59   40112.4209
48   2023-05    Returning         67   45651.2362
49   2023-06    Returning         67   48259.7487
50   2023-07    Returning         73   48428.3650
51   2023-08    Returning         64   61516.0860
52   2023-09    Returning         87   90488.7220
53   2023-10    Returning         78   77793.7552
54   2023-11    Returning         83  112326.4710
55   2023-12    Returning         84   90474.6008

# CUSTOMER USAGE ANALYSIS

In [83]:
fact_usage = pd.read_csv('/kaggle/working/fact_usage.csv')
fact_usage

,Customer_ID,Order_ID,Product_ID,Event_Type,Event_Timestamp
0,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 20:06:24
1,1017,EMEA-2022-152156,1,feature_used,2022-11-09 23:18:33
2,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 21:32:00
3,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 22:49:07
4,1017,EMEA-2022-152156,1,login,2022-11-09 14:07:42
...,...,...,...,...,...
64502,1022,AMER-2023-119914,8,dashboard_viewed,2023-05-05 09:53:06
64503,1022,AMER-2023-119914,8,login,2023-05-05 07:45:58
64504,1022,AMER-2023-119914,8,dashboard_viewed,2023-05-05 11:47:33
64505,1022,AMER-2023-119914,8,login,2023-05-05 17:17:02
64506,1022,AMER-2023-119914,8,feature_used,2023-05-05 19:23:57

In [84]:
fact_usage.head(10)

,Customer_ID,Order_ID,Product_ID,Event_Type,Event_Timestamp
0,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 20:06:24
1,1017,EMEA-2022-152156,1,feature_used,2022-11-09 23:18:33
2,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 21:32:00
3,1017,EMEA-2022-152156,1,dashboard_viewed,2022-11-09 22:49:07
4,1017,EMEA-2022-152156,1,login,2022-11-09 14:07:42
5,1017,EMEA-2022-152156,1,report_downloaded,2022-11-09 21:43:33
6,1017,EMEA-2022-152156,1,login,2022-11-09 19:26:44
7,1017,EMEA-2022-152156,2,dashboard_viewed,2022-11-09 08:19:27
8,1017,EMEA-2022-152156,2,report_downloaded,2022-11-09 16:51:22
9,1017,EMEA-2022-152156,2,login,2022-11-09 18:38:40

In [85]:
len(fact_usage)

64507

In [86]:
fact_usage['Event_Timestamp'] = pd.to_datetime(fact_usage['Event_Timestamp'])

In [87]:
fact_usage['Event_Date'] = fact_usage['Event_Timestamp'].dt.date
fact_usage['Event_Date']

0        2022-11-09
1        2022-11-09
2        2022-11-09
3        2022-11-09
4        2022-11-09
            ...
64502    2023-05-05
64503    2023-05-05
64504    2023-05-05
64505    2023-05-05
64506    2023-05-05
Name: Event_Date, Length: 64507, dtype: object

In [88]:
fact_usage['Event_Month'] = fact_usage['Event_Timestamp'].dt.to_period('M')
fact_usage['Event_Month']

0        2022-11
1        2022-11
2        2022-11
3        2022-11
4        2022-11
          ...
64502    2023-05
64503    2023-05
64504    2023-05
64505    2023-05
64506    2023-05
Name: Event_Month, Length: 64507, dtype: period[M]

**DAILY ACTIVE CUSTOMERS (DAC)**

In [89]:
daily_active_customers = fact_usage.groupby('Event_Date')['Customer_ID'].nunique().reset_index(name = 'Daily_Active_Customers')

In [90]:
daily_active_customers

      Event_Date  Daily_Active_Customers
0     2020-01-04                       1
1     2020-01-05                       1
2     2020-01-06                       1
3     2020-01-07                       3
4     2020-01-08                       1
...          ...                     ...
1232  2023-12-27                       4
1233  2023-12-28                       1
1234  2023-12-29                      10
1235  2023-12-30                       6
1236  2023-12-31                       4

[1237 rows x 2 columns]

In [91]:
monthly_active_customers = fact_usage.groupby('Event_Month')['Customer_ID'].nunique().reset_index(name = 'Monthly_Active_Customers')

In [92]:
monthly_active_customers

   Event_Month  Monthly_Active_Customers
0      2020-01                        27
1      2020-02                        27
2      2020-03                        44
3      2020-04                        44
4      2020-05                        46
5      2020-06                        53
6      2020-07                        44
7      2020-08                        49
8      2020-09                        77
9      2020-10                        57
10     2020-11                        75
11     2020-12                        75
12     2021-01                        24
13     2021-02                        30
14     2021-03                        59
15     2021-04                        45
16     2021-05                        52
17     2021-06                        50
18     2021-07                        50
19     2021-08                        47
20     2021-09                        75
21     2021-10                        53
22     2021-11                        78
23     2021-12                        81
24     2022-01                        36
25     2022-02                        36
26     2022-03                        53
27     2022-04                        54
28     2022-05                        67
29     2022-06                        59
30     2022-07                        58
31     2022-08                        61
32     2022-09                        80
33     2022-10                        60
34     2022-11                        86
35     2022-12                        80
36     2023-01                        56
37     2023-02                        40
38     2023-03                        65
39     2023-04                        59
40     2023-05                        67
41     2023-06                        67
42     2023-07                        73
43     2023-08                        64
44     2023-09                        87
45     2023-10                        78
46     2023-11                        83
47     2023-12                        84

**Active Days per Customer**

In [93]:
active_days_per_customer = (
    fact_usage.groupby("Customer_ID")["Event_Date"]
    .nunique()
    .reset_index(name="Active_Days")
)
active_days_per_customer

    Customer_ID  Active_Days
0          1001           31
1          1002           74
2          1003           60
3          1004           58
4          1005           69
..          ...          ...
94         1097           53
95         1098           40
96         1099           45
97         1100           49
98         1101           34

[99 rows x 2 columns]

**Usage Frequency per Customer**

In [94]:
event_count_per_customer = (
    fact_usage.groupby("Customer_ID")
    .size()
    .reset_index(name="Total_Events")
)
event_count_per_customer

    Customer_ID  Total_Events
0          1001           396
1          1002           987
2          1003           666
3          1004           877
4          1005           859
..          ...           ...
94         1097           683
95         1098           434
96         1099           635
97         1100           721
98         1101           557

[99 rows x 2 columns]

**Event Type Distribution**

In [95]:
event_type_dist = (
    fact_usage.groupby(["Customer_ID", "Event_Type"])
    .size()
    .reset_index(name="Event_Count")
)
event_type_dist

     Customer_ID         Event_Type  Event_Count
0           1001   dashboard_viewed          104
1           1001       feature_used           89
2           1001              login           92
3           1001  report_downloaded          111
4           1002   dashboard_viewed          234
..           ...                ...          ...
391         1100  report_downloaded          173
392         1101   dashboard_viewed          120
393         1101       feature_used          137
394         1101              login          150
395         1101  report_downloaded          150

[396 rows x 3 columns]

**Product Usage**

In [96]:
product_usage = (
    fact_usage.groupby(["Customer_ID", "Product_ID"])
    .size()
    .reset_index(name="Product_Event_Count")
)
product_usage

      Customer_ID  Product_ID  Product_Event_Count
0            1001           2                   45
1            1001           3                   67
2            1001           4                   40
3            1001           5                   53
4            1001           6                   21
...           ...         ...                  ...
1255         1101           9                  103
1256         1101          10                   25
1257         1101          11                   15
1258         1101          12                   24
1259         1101          13                   19

[1260 rows x 3 columns]

In [97]:
fact_usage["Event_Timestamp"].max().normalize()

Timestamp('2023-12-31 00:00:00')

**Recency (Days Since Last Event)**

In [98]:
max_date = fact_usage["Event_Timestamp"].max()

recency = (
    fact_usage.groupby("Customer_ID")["Event_Timestamp"]
    .max()
    .reset_index()
)

recency["Recency_Days"] = (max_date - recency["Event_Timestamp"]).dt.days

recency

    Customer_ID     Event_Timestamp  Recency_Days
0          1001 2023-12-19 19:13:35            12
1          1002 2023-12-10 23:58:30            20
2          1003 2023-12-30 20:34:48             1
3          1004 2023-12-18 17:51:59            13
4          1005 2023-12-24 18:36:30             7
..          ...                 ...           ...
94         1097 2023-12-09 23:57:17            21
95         1098 2023-12-30 20:50:47             1
96         1099 2023-12-29 22:38:00             2
97         1100 2023-12-24 19:36:57             7
98         1101 2023-11-22 23:53:07            38

[99 rows x 3 columns]

**Rolling 7-day / 30-day Frequency**

In [99]:
daily_events = (
    fact_usage
    .groupby(["Customer_ID", "Event_Date"])
    .size()
    .reset_index(name="Events")
)

daily_events["Event_Date"] = pd.to_datetime(daily_events["Event_Date"])
daily_events

      Customer_ID Event_Date  Events
0            1001 2020-04-15      10
1            1001 2020-04-22      14
2            1001 2020-05-13      13
3            1001 2020-08-03      20
4            1001 2020-10-25       7
...           ...        ...     ...
4854         1101 2023-05-13       3
4855         1101 2023-08-08      14
4856         1101 2023-08-19      10
4857         1101 2023-10-13       6
4858         1101 2023-11-22      51

[4859 rows x 3 columns]

**For 7 Days**

In [100]:
daily_events = (
    daily_events
    .set_index("Event_Date")
    .groupby("Customer_ID")["Events"]
    .rolling("7D")
    .sum()
    .reset_index()
    .rename(columns={"Events": "Events_Last_7_Days"})
)

daily_events

      Customer_ID Event_Date  Events_Last_7_Days
0            1001 2020-04-15                10.0
1            1001 2020-04-22                14.0
2            1001 2020-05-13                13.0
3            1001 2020-08-03                20.0
4            1001 2020-10-25                 7.0
...           ...        ...                 ...
4854         1101 2023-05-13                 3.0
4855         1101 2023-08-08                14.0
4856         1101 2023-08-19                10.0
4857         1101 2023-10-13                 6.0
4858         1101 2023-11-22                51.0

[4859 rows x 3 columns]

**For 30 Days:**

In [101]:
daily_events_30 = (
    daily_events
    .set_index("Event_Date")
    .groupby("Customer_ID")["Events_Last_7_Days"]
    .rolling("30D")
    .sum()
    .reset_index()
    .rename(columns={"Events_Last_7_Days": "Events_Last_30_Days"})
)

daily_events_30

      Customer_ID Event_Date  Events_Last_30_Days
0            1001 2020-04-15                 10.0
1            1001 2020-04-22                 24.0
2            1001 2020-05-13                 37.0
3            1001 2020-08-03                 20.0
4            1001 2020-10-25                  7.0
...           ...        ...                  ...
4854         1101 2023-05-13                 22.0
4855         1101 2023-08-08                 14.0
4856         1101 2023-08-19                 24.0
4857         1101 2023-10-13                  6.0
4858         1101 2023-11-22                 51.0

[4859 rows x 3 columns]

**Customer-Level Health Score**

In [102]:
feature_variety = (
    fact_usage.groupby("Customer_ID")["Event_Type"]
    .nunique()
    .reset_index(name="Event_Type_Variety")
)

feature_variety

    Customer_ID  Event_Type_Variety
0          1001                   4
1          1002                   4
2          1003                   4
3          1004                   4
4          1005                   4
..          ...                 ...
94         1097                   4
95         1098                   4
96         1099                   4
97         1100                   4
98         1101                   4

[99 rows x 2 columns]

In [103]:
health = (
    recency[["Customer_ID", "Recency_Days"]]
    .merge(feature_variety, on="Customer_ID", how="left")
    .merge(event_count_per_customer, on="Customer_ID", how="left")
)

In [104]:
health["Health_Score"] = (
    (health["Event_Type_Variety"] * 2) + 
    (health["Total_Events"] * 0.1) -
    (health["Recency_Days"] * 0.5)
)

health

    Customer_ID  Recency_Days  Event_Type_Variety  Total_Events  Health_Score
0          1001            12                   4           396          41.6
1          1002            20                   4           987          96.7
2          1003             1                   4           666          74.1
3          1004            13                   4           877          89.2
4          1005             7                   4           859          90.4
..          ...           ...                 ...           ...           ...
94         1097            21                   4           683          65.8
95         1098             1                   4           434          50.9
96         1099             2                   4           635          70.5
97         1100             7                   4           721          76.6
98         1101            38                   4           557          44.7

[99 rows x 5 columns]